body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
}

#main {
    background-color: #1E3741;
    border: 1px solid #79A3AE;
    border-radius: 5px;
    width: 665px;
}

ul {
    color: white;
    margin: 8px 0 9px -31px;
}

    ul li {
        display: inline-block;
        list-style-type: none;
        border: 1px solid #1E3741;
        background-color: #425B66;
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin: 0 -2px 0 -2px;
        font-weight: bold;
    }

li:first-of-type {
    margin-left: 2px;
}

li:hover {
    text-decoration: underline;
}

nav li a {
    color: #8C9A94;
    text-decoration: none;
}

article {
    border-top: 1px solid #374C55;
    padding-bottom: 1px;
    padding-left: 5px;
}

    article:hover {
        background-color: #00968C;
    }

    article > p a {
        text-decoration: none;
        color: #8CB2AF;
        font-weight: bold;
    }

section {
    display: inline-block;
    width: 215px;
    position: relative;
    top: -17px;
}

#clip {
    display: inline-block;
}
